@use "../mixins/color.scss" as color-mixin;

.border {
  @include color-mixin.basic-color() using ($prop, $value) {
    &-#{$prop} {
      border-color: $value;
    }
  }
  @include color-mixin.colorful() using ($color-name, $strength, $color) {
    &-#{$color-name}-#{$strength} {
      border-color: $color;
    }
  }

  &-x {
    @include color-mixin.basic-color() using ($prop, $value) {
      &-#{$prop} {
        border-left-color: $value;
        border-right-color: $value;
      }
    }
    @include color-mixin.colorful() using ($color-name, $strength, $color) {
      &-#{$color-name}-#{$strength} {
        border-left-color: $color;
        border-right-color: $color;
      }
    }
  }
  &-y {
    @include color-mixin.basic-color() using ($prop, $value) {
      &-#{$prop} {
        border-top-color: $value;
        border-bottom-color: $value;
      }
    }
    @include color-mixin.colorful() using ($color-name, $strength, $color) {
      &-#{$color-name}-#{$strength} {
        border-top-color: $color;
        border-bottom-color: $color;
      }
    }
  }
  &-s {
    @include color-mixin.basic-color() using ($prop, $value) {
      &-#{$prop} {
        border-inline-start-color: $value;
      }
    }
    @include color-mixin.colorful() using ($color-name, $strength, $color) {
      &-#{$color-name}-#{$strength} {
        border-inline-start-color: $color;
      }
    }
  }
  &-e {
    @include color-mixin.basic-color() using ($prop, $value) {
      &-#{$prop} {
        border-inline-end-color: $value;
      }
    }
    @include color-mixin.colorful() using ($color-name, $strength, $color) {
      &-#{$color-name}-#{$strength} {
        border-inline-end-color: $color;
      }
    }
  }
  &-t {
    @include color-mixin.basic-color() using ($prop, $value) {
      &-#{$prop} {
        border-top-color: $value;
      }
    }
    @include color-mixin.colorful() using ($color-name, $strength, $color) {
      &-#{$color-name}-#{$strength} {
        border-top-color: $color;
      }
    }
  }
  &-r {
    @include color-mixin.basic-color() using ($prop, $value) {
      &-#{$prop} {
        border-right-color: $value;
      }
    }
    @include color-mixin.colorful() using ($color-name, $strength, $color) {
      &-#{$color-name}-#{$strength} {
        border-right-color: $color;
      }
    }
  }
  &-b {
    @include color-mixin.basic-color() using ($prop, $value) {
      &-#{$prop} {
        border-bottom-color: $value;
      }
    }
    @include color-mixin.colorful() using ($color-name, $strength, $color) {
      &-#{$color-name}-#{$strength} {
        border-bottom-color: $color;
      }
    }
  }
  &-l {
    @include color-mixin.basic-color() using ($prop, $value) {
      &-#{$prop} {
        border-left-color: $value;
      }
    }
    @include color-mixin.colorful() using ($color-name, $strength, $color) {
      &-#{$color-name}-#{$strength} {
        border-left-color: $color;
      }
    }
  }
}
