@use "sass:string";

$transition-property-maps: (
  "-all": all,
  "":
    "color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter",
  "-color":
    "color, background-color, border-color, text-decoration-color, fill, stroke",
  "-opacity": opacity,
  "-box-shadow": box-shadow,
  "-transform": transform,
);

.transition-none {
  transition-property: none;
}

@each $key, $value in $transition-property-maps {
  .transition#{$key} {
    transition-property: string.unquote($value);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}
