@use "sass:map";
@use "../variable.scss" as variable;

$size-option-map: map.merge(
  variable.$size-option-map,
  variable.$size-option-percent-map
);
$size-option-map: map.merge(
  $size-option-map,
  (
    "auto": auto,
    "min": min-content,
    "max": max-content,
    "fit": fit-content,
  )
);

@each $key, $value in $size-option-map {
  .size-#{$key} {
    width: $value;
    height: $value;
  }
}
