// decoration line
$text-decoration-line-map: (
  "underline": underline,
  "overline": overline,
  "line-through": line-through,
  "no-underline": none,
);

@each $key, $value in $text-decoration-line-map {
  .#{$key} {
    text-decoration-line: $value;
  }
}

// decoration style
$text-decoration-style-map: (
  "solid": solid,
  "double": double,
  "dotted": dotted,
  "dashed": dashed,
  "wavy": wavy,
);

@each $key, $value in $text-decoration-style-map {
  .decoration-#{$key} {
    text-decoration-style: $value;
  }
}

// decoration thickness
$text-decoration-thickness-map: (
  "auto": auto,
  "from-font": from-font,
  "0": 0px,
  "1": 1px,
  "2": 2px,
  "4": 4px,
  "8": 8px,
);

@each $key, $value in $text-decoration-thickness-map {
  .decoration-#{$key} {
    text-decoration-thickness: $value;
  }
}

// underline offset
$text-underline-offset-map: (
  "auto": auto,
  "0": 0px,
  "1": 1px,
  "2": 2px,
  "4": 4px,
  "8": 8px,
);

@each $key, $value in $text-underline-offset-map {
  .underline-offset-#{$key} {
    text-underline-offset: $value;
  }
}
