@use "sass:list";
@use "../mixins/color.scss" as color-mixin;

$classes: ();
@include color-mixin.basic-color() using ($prop, $value) {
  $classes: list.append(
    $classes,
    ".shadow-#{$prop}",
    $separator: comma
  ) !global;
}
@include color-mixin.colorful() using ($color-name, $strength, $color) {
  $classes: list.append(
    $classes,
    ".shadow-#{$color-name}-#{$strength}",
    $separator: comma
  ) !global;
}

#{$classes} {
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow {
  @include color-mixin.basic-color() using ($prop, $value) {
    &-#{$prop} {
      --tw-shadow-color: #{$value};
    }
  }

  @include color-mixin.colorful() using ($color-name, $strength, $color) {
    &-#{$color-name}-#{$strength} {
      --tw-shadow-color: #{$color};
    }
  }
}
