@use "sass:map";
@use "../variable.scss" as variable;

@for $count from 1 through 12 {
  .columns-#{$count} {
    columns: $count;
  }
}

$columns-map: map.merge(
  variable.$t-shirt-size-map,
  (
    "auto": auto,
  )
);

@each $key, $option in $columns-map {
  .columns-#{$key} {
    columns: $option;
  }
}
